body{
     background-color:rgb(82, 125, 172)
     }
h1{
    color:#7a1747
    padding: 10px
}
p {
  color: white;
  font-family: courier;
  background-color:rgb(23, 100, 345);
  font-size: 160%;
  border:2px solid green;
  margin:5px
}